*{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    height: 90vh;
    width: 100%;
    position: relative;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    width: 100%;
    padding: 0 5%;
    background-color: rgb(0, 0, 0);
}

.tophead-left ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}
.tophead-right ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}

/*---*/
#navbar{
    height: 10%;
    width: 100%;
    position: relative;
    padding: 0 5%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.271);
}
#container{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.logo{
    width: 30%;
    position: relative;
}
.logo img{
    height: 100%;
}

.rightnav{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.rightnav ul, .rightnav a{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 30px;
    color: black;
}

/*---*/

#box{
    height: 85%;
    width: 100%;
    position: relative;
    padding: 0 60px;
    overflow: hidden;
}
.innerbox{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}

.leftbox{
    height: 100%;
    width: 55%;
    padding: 190px 0;
}
.leftbox h1{
    color: black;
    font-size:3.5rem;
    font-family: 'Times New Roman', Times, serif;
} 
.leftbox p{
    margin: 10px 0;
    font-size: 1.1rem;
    color: gray;
}

.leftbox .item{
    display: flex;
    align-items: center;
    height: 40px;
    gap: 7px;
    position: relative;
    /* background-color: blueviolet; */
}
.item img{
    height: 90%;
}
.item a, .item a button  {
    height: 100%;
}
.item a button{
    border: none;
    border-radius: 50px;
    padding: 2px 25px;
    background-color: rgb(243, 114, 1);
    /* color: black; */
    font-weight: 500;
}

.item .rating{
    /* height: 100%; */
    font-size: 1.6rem;
}
.item p{
    padding-bottom: 10px;
    font-size: 0.9rem;
    /* background-color: aquamarine; */
}

/*----*/

.shape{
    height: 65%;
    width: 100%;
    background-color: #fd7e14;
    position: absolute;
    top: 0;
    left: 30%;
    transform: rotate(45deg);
    /* z-index: 10; */

}
/*---------------------------------------*/
.rightbox{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    color: black;
    width: 650px;
    height: 580px;
    position: absolute;
    right: -180px;
    margin-top: 4.5%;
    border-top-left-radius: 40px;
}

.currencyconvertor{
    height: 537px;
    width: 70%;
    padding: 0px 30px;
    padding-top: 30px;
    border-radius: 40px;
    overflow: hidden;
    color: black;
    position: relative;
}

.currencyconvertor .inputs , .detail{
    display: flex;
    margin: 15px 0;
} 

.detail{
    justify-content: space-between;
}
.detail p{
    font-size: 1.1rem;
}
.inputs input, .inputs select, option{
    height: 60px;
    color: black;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 0.5px solid gray;
}
.inputs input{
    width: 80%;
}
.inputs select{
    width: 20%;
}

.inputs .usd{
    width: 20%;
    height: 60px;
    position: relative;
    border: 0.5px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.usd img{
    height: 50%;
}
.usd p, .currencyconvertor p{
    color: black;
}
.currencyconvertor label{
    color: gray;
}

.currencyconvertor button{
    width: 100%;
    height: 8%;
    border-radius: 50px;
    border: none;
    background-color: #fd7e14;
    font-size: 1rem;

}

/*-----------------------------------------*/

#page2{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    position: relative;
}

.options{
    height: 26%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.options div{
    height: 55%;
    width: 20%;
    background: linear-gradient(135deg, #ffe2d3ed, #ffffff);
    color: black;
    font-size: 1.6rem;
    /* text-align: center; */
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 2px 10px rgba(64, 64, 64, 0.2);
}

.transaction{
    height: 74%;
    width: 100%;
    position: relative;
}
h2{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.details{
    height: 70%;
    position: relative;
    /* box-shadow: 0px 2px 10px rgba(64, 64, 64, 0.2); */
}
.details .topdetail{
    height: 20%;
    background-color: #fd7e14;
    display: flex;
    font-weight: 600;
    margin: 0 100px;
}
.topdetail p{
    height: 100%;
    width: 20%;
    padding: 25px 0px;
    text-align: center;
}

.details .bottomdetail{
    height: 80%;
    width: 100%;
    position: relative;
}
.bottomdetail .row1{
    margin: 0 100px;
    height: 25%;
    width: 86.3%;
    display: flex;
    font-size: 0.9rem;
    border-bottom: 0.5px solid rgb(221, 207, 207);
    background-color: #fedbcb;
    
}
.row1 p{
    color: #212529;
    width: 20%;
    padding: 25px 0px;
    text-align: center;
}

/**/

#page3{
    height: 95vh;
    width: 100%;
    position: relative;
}
#page3 .btn{
    height: 10%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn button{
    height: 60%;
    width: 110px;
    pad: 1px 10px;
    background-color: #fd7e14;
    border-radius: 20px;
    border: none;
}
.working{
    height: 80%;
    width: 90%;
    background-color: rgb(243, 243, 243);
    margin: 2.5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.working h1{
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.info{
    display: flex;
    gap: 100px;
    align-items: center;
}
.info .icons{
    height: 200px;
    width: 200px;
    /* background-color: rgb(220, 219, 219); */
    background-color: #e9e9e9;
    border-radius: 50%;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info div p{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-top: 10px;
}
.working button{
    width: 100px;
    height: 40px;
    background-color:#fd7e14 ;
    border-radius: 20px;
    border: none;
}

.icons img{
    height: 40%;
}

/*------------*/
#page4{
    height: 100vh;
    width: 100%;
    /* background-color: burlywood; */
    position: relative;
}

.secure{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.secure h3{
    font-size: 3.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    font-weight: 600;
}
.numbers{
    display: flex;
    justify-content: center;
    gap: 10%;

}
.numbers div p{
    font-size: 1.7rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgba(230, 151, 4, 0.89);
}
.numbers .num{
    font-weight: 600;
    font-size: 2.5rem;
}

#page4 h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

#page4 .soln{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 52%;
    width: 100%;
}

.soln div{
    width: 25%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.soln img{
    /* display: none; */
    height: 30%;
    width: 40%;
}
.soln div h3{
    font-size: 2rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.soln div p{
    font-size: 1.2rem;
    color: grey;
}

/*------------*/

#page5{
    height: 100vh;
    width: 100%;
    position: relative;
}
.inner{
    height: 100%;
    width: 80%;
    margin: 0 10%;
    position: relative;
    background-color: #fbfbfb;
}
.one{
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.one p{
    font-size: 1.4rem;
    color: black;
}
.one h1{
    color: black;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.two{
    height: 60%;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 5%;
    background: linear-gradient(135deg, #ffe2d3ed, #ffffff);
    /* justify-content: center; */
}
.two img{
    height: 10%;
}
.two div{
    width: 90%;
    height: 80%;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.two div p, div h4{
    color: rgb(105, 104, 104);
}

/*------------------*/

#footer{
    height: 70vh;
    width: 100%;
}
.dets{
    height: 50vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: #fbfbfb;
}
.det{
    width: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    font-size: 1.5rem;
}
.det img{
    width: 70%;
    margin-bottom: 20px;
}
.det h3{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.det p, li{
    color: gray;
    list-style: none;
    font-size: 1rem;
}
.det li{
    margin-bottom: 10px;
}
.det .add{
}
.links{
    display: flex;
    gap: 10px;
}
.links div{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}
.links div i{
    font-size: 1.2rem;
    color: grey;
}
.links div a{
    text-decoration: none;
}

.copyright{
    height: 7vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-size: 0.9rem;
}
.copyright ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.copyright li, p{
    font-family: 'Times New Roman', Times, serif;
font-size: 0.9rem;
color: white;
}

.flags{
    display: flex;
    align-items: center;
    height: 13vh;
    gap: 50px;
}
.flags img{
    height: 50px;
    margin-right: 100px;
}